{% extends 'base.html' %}

{%block title%}Event Registration Form {% endblock title%}
{%block body%}

<div class="container-md p-4 mb-5 ms-5">
  <form method="post" action="/registration_form">
    {% csrf_token %}
    <h3>Enter your details here</h3>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
      </div>
      <div class="form-group col-md-5">
        <label for="phone">Phone No</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone No">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
      </div>
      <div class="form-group col-md-5">
        <label for="eventname">Event Name</label>
        <input type="text" class="form-control" id="eventname" name="eventname" placeholder="Event Name">
      </div>
      <div class="form-group col-md-5">
        <label for="eventtype">Event Type</label>
        <input type="text" class="form-control" id="eventtype" name="eventtype" placeholder="Event Type">
      </div>
      <div class="form-group col-md-5">
        <label for="eventlocation">Event Location</label>
        <input type="text" class="form-control" id="eventlocation" name="eventlocation" placeholder="Event Location">
      </div>
      <div class="form-group col-md-5">
        <label for="guestlimit">Guest Limit</label>
        <input type="text" class="form-control" id="guestlimit" name="guestlimit" placeholder="Guest Limit">
      </div>
      <div class="form-group col-md-5">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" placeholder="Date">
      </div>
      <div class="form-group col-md-5">
        <label for="time">Time</label>
        <input type="time" class="form-control" id="time" name="time" placeholder="Time">
      </div>
      <div class="form-group col-md-5">
        <label for="fee">Entry Fee</label>
        <input type="text" class="form-control" id="fee" name="fee" placeholder="Entry Fee">
      </div>
      <div class="form-group p-4 mb-5 ms-5">
        <label for="exampleFormControlTextarea1">Event Discription</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="disc"></textarea>
      </div>
    </div>
    <div class="text-center p-2">
      <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
<div clas="padding-bottom">
</div>

{% endblock body%}